body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 95%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.sidebar {
    width: 30%;
    padding: 20px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.files_section {
    height: 70%;
    overflow-y: auto;
}

.settings_section {
    height: 30%;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    overflow-y: auto;
}

.files_section h2, .settings_section h2 {
    margin-top: 0;
}

#fileInput {
    margin-bottom: 20px;
}

#fileList {
    list-style-type: none;
    padding: 0;
}

#fileList li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#fileList li:hover {
    background-color: #f0f0f0;
}

.content {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content h2 {
    margin-top: 0;
}

#fileContent {
    white-space: pre-wrap;
    word-wrap: break-word;
    height: 75%;
    overflow-y: auto; /* Allow scrolling within the file content area */
}

.content_summary {
    height: 25%;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    overflow-y: auto; /* Allow scrolling within the summary area */
}

.content_summary h2 {
    margin-top: 0;
}

#fileSummary {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#apiKeyInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#saveApiKeyButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#runButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#saveApiKeyButton:hover {
    background-color: #45a049;
}
